<!-- The code won't change above <body> --> 
  <body>
    <div class="container">
      
      <!-- Menu bar --> 
      <nav class="navbar bg-light" style="background-color: #e16879 !important;">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">Good Doggo</span>
        </div>
      </nav>
     
     <!-- The code won't change here!! --> 


    <!-- Footer -->
    <footer class="page-footer font-small" style="background-color: lightgrey;">
      <div class="footer-copyright text-center py-3">
        This website is built by Maria Stylianou
      </div>
    </footer>

  </body>
</html>
