<!-- Δεν αλλάζει ο κώδικας πάνω από το <body> --> 
  <body>
    <div class="container">
      
      <!-- Menu bar --> 
      <nav class="navbar navbar-light" style="background-color: #e16879;">
          <a class="navbar-brand">Grumpy Cat</a>
      </nav>

     
     <!-- Δεν αλλάζει ο κώδικας μας εδώ --> 


    <!-- Footer -->
    <footer class="page-footer font-small" style="background-color: lightgrey;">
      <div class="footer-copyright text-center py-3">
        Αυτή η σελίδα φτιάκτηκε από τη Μαρία Στυλιανού.
      </div>
    </footer>

  </body>
</html>
