<html>
  <head>
    <title>Η ιστοσελίδα μου</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/learn-to-code.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          
          <!-- Πρώτη κάρτα αριστερά-->
          <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
              <img class="img-circle" src="/grumpy-dog.jpg">
              <h5 class="card-title">Πάγκ ο Δυνατός</h5>
              <h6 class="card-subtitle mb-2 text-muted">Επαγγελματίας σκύλος</h6>
              <p class="card-text">Μου αρέσει να μασάω χαρτόνια, να τρωω το φαγητό των ανθρώπων και να ροχαλίζω καθώς κοιμάμαι.</p>
              <a href="#" class="card-link"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a>
              <a href="#" class="card-link"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
            </div>
            <a href="#"> </a>
          </div>

          <!-- Δεύτερη κάρτα αριστερά-->
          <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
              <h5 class="card-title">Τα στοιχεία μου</h5>
              
              <p><i class="fa fa-map-marker" aria-hidden="true">Λευκωσία</i></p>
              <p><i class="fa fa-university" aria-hidden="true">Πανεπιστήμιο Κύπρου</i></p>
              <p><i class="fa fa-heart">Ύπνος, φαγητό, παιχνίδι</i></p>
            </div>
          </div>

          <!-- Τρίτη κάρτα αριστερά -->
          <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
              <h5 class="card-title">Δεξιότητες</h5>
              <p>
                Κριτική φαγητού
                <progress class="progress progress-success" value="25" max="100">25%</progress>
              </p>
              <p>
                Μάσιμα χαρτονιών
                <progress class="progress progress-info" value="50" max="100">50%</progress>
              </p>
              <p>
                Ροχαλητό
                <progress class="progress progress-warning" value="75" max="100">75%</progress>
              </p>
              <p>
                Να έχω φάτσα grumpy
                <progress class="progress progress-danger" value="100" max="100">100%</progress>
              </p>

            </div>
          </div>
        </div>
        <div class="col-md-8">
          Εδώ θα σχεδιάσουμε τη δεξιά πλευρά της σελίδας μας
        </div>
      </div>
    </div>
  </body>
</html>
