<html>
  <head>
    <title>Your name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/profile.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          sidebar information will be added here
        </div>
        <div class="col-md-8">
          main content will be added here
        </div>
      </div>
    </div>
  </body>
</html>
