/* This is comment */
/*li{
  color: blue;
}

h1,h3{
  color: red;
}*/

/*
  The dot (.) signifies that it's styling a class
  The hash (#) signifies that it's styling an id
*/

#welcome{
  color: green;
  font-size: 50px;
}

#tagline{
  color: orange;
  font-weight: bold;
}

.bluecolor{
  color: blue;
}

.redcolor{
  color: red;
}

