<html>
  <head>
    <title>Contact details</title>
  </head>
  <body>
    <h2>Η επικεφαλίδα της ιστοσελίδας μας</h2>
    <p>Καλωσορίσατε στην ιστοσελίδα μας. Εδώ μαθαίνουμε να γράφουμε κώδικα!</p>
    <img src="https://images.unsplash.com/photo-1509043759401-136742328bb3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=500&q=80" alt="">
    <ol> Οι δραστηριότητες μου
      <li>Windsurfing</li>
      <li>Ποδηλασία</li>
      <li>Βιβλία</li>
    </ol>
    
    <form>
      <p>Όνομα: <input type="text"></p>
      <p>Επίθετο: <input type="text"></p>
      <p>Αγαπημένες ταινίες:</p>
      <p><input type="checkbox"> Minions</p>
      <p><input type="checkbox"> Finding Nemo</p>
      <p><input type="checkbox"> Toy Story</p>
      <p>Aγαπημένο χρώμα: <input type="color"></p>
      <p>Τηλέφωνο: <input type="tel"></p>
      <p><input type="submit" value="Αποθήκευση"></p>
    </form>
  </body>
</html>
