<html>
  <head>
    <title>Τίτλος της ιστοσελίδας</title>
  </head>
  <body>
    <h2>Τίτλος της ιστοσελίδας μας</h2>
    <p>Καλωσορίσατε στην ιστοσελίδα μας. Εδώ μαθαίνουμε να γράφουμε κώδικα!</p>
    <img src="http://ak-hdl.buzzfed.com/static/enhanced/webdr03/2012/12/4/12/enhanced-buzz-wide-18190-1354641881-8.jpg">
    <ol> Οι δραστηριότητες μου 
      <li>Windsurfing</li>
      <li>Ποδηλασία</li>
      <li>Βιβλία</li>
    </ol>
  </body>
</html>