<html>
  <head>
    <meta charset="utf-8">
    <title>Javascript exercise 4</title>
  </head>
  <body>
      <div id="result"></div>
      <img id="sandwich" src="http://www.zerowasteweek.co.uk/wp-content/uploads/2014/04/sandwich.jpg" style="display:none" />
    <!-- Import jQuery first when you need to use it in your code -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="./js-example3.js"></script>
  </body>
</html>