{{#link-to 'exercises' class="site-logo"}}
  Learn to Code
  <strong>
    Syllabus
  </strong>
{{/link-to}}

<p class="site-links">
  {{#link-to 'links'}}
    Useful Links
  {{/link-to}}
  {{#link-to 'extra-material'}}
    Extra material
  {{/link-to}}
</p>

<nav class="site-nav">
  {{#link-to 'exercises.html-css' class='is-html5'}}
    HTML & CSS
  {{/link-to}}
  {{#link-to 'exercises.bootstrap' class='is-bootstrap'}}
    Bootstrap
  {{/link-to}}
  {{#link-to 'exercises.javascript' class='is-javascript'}}
    JavaScript
  {{/link-to}}
  {{#link-to 'exercises.deploy' class='is-deploy'}}
    Deploy
  {{/link-to}}
</nav>
