$active: #fff
$background: #f5f7fa
$border: #ebeff5
$border-dark: #d3d6db
$strong: #222325
$text: #69707a

$css3: #33a9dc
$html5: #f16529
$javascript: #f7df1e

$link: $css3

$green: #63a814

// #aeb1b5

$family-primary: "Montserrat", "Proxima Nova", Arial, sans-serif
$family-secondary: "Source Sans Pro", Arial, sans-serif

$breakpoint: 800px
