<img style="width: 90%;" src="/github-1.png">
<img style="width: 90%;" src="/github-2.png">
<img style="width: 90%;" src="/github-3.png">
<img style="width: 90%;" src="/github-4.png">
<img style="width: 90%;" src="/github-5.png">
<img style="width: 90%;" src="/github-6.png">
<img style="width: 90%;" src="/github-7.png">
<img style="width: 90%;" src="/github-8.png">
<img style="width: 90%;" src="/github-9.png">
<img style="width: 90%;" src="/github-10.png">
<br>
<h3><b> Συνεχίστε να δουλεύετε στη σελίδα σας. Όταν θέλετε να πάρετε τις αλλαγές live, ακολουθήστε τα εξής βήματα:</b> </h3> 
<br>
<img style="width: 90%;" src="/github-redeploy.png">
