<html>
  
  <head>
    <title>Title of the broswer tab</title>
    <link href="/webkit.css" rel="stylesheet">
  </head>
  
  <body>
    
    <h2>The Heading of our website</h2>

    <p>Welcome to our website. Here, we're learning how to write code!</p>
    <img src="https://images.unsplash.com/photo-1509043759401-136742328bb3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=500&q=80" alt="">
    
    <ol> My activities
      <li>Windsurfing</li>
      <li>Cycling</li>
      <li>Reading</li>
    </ol>
  
  </body>

</html>