<div class="app-container">
  {{site-header}}

  <div class="links">
    <h1>Extra Material</h1>

    <h2>This is a collection of courses, tutorials and other material we found here and there for you to progress and advance. You don't need to cover all of it - you can of course - pick whatever you need and get started :)</h2>

    <h3>Improve at HTML and CSS in your free time</h3>

    <ol>
      <li>
        <a href="http://marksheet.io/">MarkSheet.io</a> - Created by Jeremy, one of the instructors :)
      </li>
      <li>
        <a href="https://www.udacity.com/course/intro-to-html-and-css--ud304">Intro to HTML and CSS</a>, a free course delivered by udacity.
        <br>
        → We covered a large part of this course, but it will be good for you to go over again. Sometimes being taught the same thing in a different way helps solidify it.
      </li>
      <li>
        <a href="https://css-tricks.com/">CSS tricks</a> - CSS tricks and tips
        <br>
        If you Google a problem your having with CSS and you see a CSS-Tricks link, click it. The explanations on the site are, more often than not, the best you'll find.
      </li>
      <li>
        <a href="http://html-color-codes.info/">Color Codes.info</a> - Color shades
      </li>
    </ol>

    <h3>Improve at Javascript and jQuery</h3>

    <ol>
      <li>
        <a href="https://www.udacity.com/course/javascript-basics--ud804">JavaScript Basics</a>, a free course delivered by udacity
        <br>
        There's a whole lot more to JavaScript than what we got a chance to go through so this one is definitely worth going through.
      </li>
      <li>
        <a href="https://www.udacity.com/course/intro-to-jquery--ud245">Intro to jQuery</a>, a free course delivered by udacity
        <br>
        Ah, jQuery. What can I say? ♡
        <br>
        We only touched the surface and this course we'll take you through a lot more.
      </li>
      <li>
        <a href="http://www.freecodecamp.com/">freeCodeCamp</a>, thanks to Gabriele for suggesting this site!
      </li>
    </ol>

    <h3>Bootstrap</h3>

    <ol>
      <li>
        <a href="http://getbootstrap.com">getboostrap.com</a> - The official Bootstrap website, with all the documentation.
      </li>
    </ol>

    <h3>Web Fundamentals</h3>

    <ol>
      <li>
        <a href="https://developers.google.com/web/fundamentals/">Google Web Fundamentals</a>
        <br>
        Here's a nice resource from Google that takes you through some of best practices in the industry when building things for the web.
      </li>
      <li>
        <a href="https://www.udacity.com/course/responsive-web-design-fundamentals--ud893">Responsive Web Design Fundamentals</a>, a free course delivered by udacity
        <br>
        This course will teach you how to build websites that look good on a range of devices from mobile phones to big desktop screens.
      </li>
    </ol>

    <h3>Any questions → Find the answers here</h3>

    <ol>
      <li>
        <strong>Stack Overflow</strong> - <a href="http://stackoverflow.com">http://stackoverflow.com</a>
        <br>
        This is a site you'll constantly see when Googling for programming related issues. It's a Q&amp;A site for everything and anything programming related. It's become so popular that it's now always a programmer's first point of contact when they're stuck on an issue… which is almost always :)
      </li>
      <li>
        <strong>w3schools</strong> - <a href="http://w3schools.com">http://w3schools.com</a>
        <br>
        We used this site during the weekend. You saw how many diamonds are hidden around ;)
      </li>
      <li>
        <strong>Mozilla</strong> - <a href="https://developer.mozilla.org/en-US/docs/Web">https://developer.mozilla.org/en-US/docs/Web</a>
      </li>
    </ol>

    <h3>Take a step further</h3>

    <p>What's next? Publish your website without google drive.</p>
    <p>This is not going to be an explanatory description of how to do that.<br>
    It's rather a guideline and a teaser of what you can learn in the advance course*.</p>

    <ul>
      <li>
        <strong>Find and buy a domain</strong>. Search in these websites:
        <br>
        <a href="https://godaddy.com">https://godaddy.com</a> - One of the most popular
        <br>
        <a href="https://www.namecheap.com/">https://www.namecheap.com</a> - It's cheaper than godaddy
        <br>
        They usually have offers for cheaper domains with extra features. Have a look, play around and buy what you need. This has to be paid annually.
      </li>
      <li>
        <strong>Host your website.</strong>
        <br>
        Watch out, I will introduce new terms here.
        <br>
        Right now, your website exists locally on your computer. In order to make it available 24/7 to the world, you need to put the files on another machine that never stops running. That machine is called server. The server will host your website.
        <br>
        There are multiple host providers; companies that have servers running day and night, hosting websites for others. Here are some we tried out:
        <ul>
          <li>
            <a href="http://digitalocean.com">http://digitalocean.com</a>
            <br>
            Digital Ocean has this offer where someone with an account can refer someone else to join, and they both win free credit. For example: This is my referral link: <a href="https://www.digitalocean.com/?refcode=c1a7fef61afa">https://www.digitalocean.com/?refcode=c1a7fef61afa</a>
            <br>
            If you create your account using my referral link, you'll get $10 and I'll get $25.
            I don't need extra credit, so I'd recommend if you refer each other and win credit between you guys.
            <br>
            After creating your account, follow instructions on how to set up your website. It might take some time. It will take less if you do the advance course with us :)
          </li>
          <li>
            <a href="https://godaddy.com">https://godaddy.com</a>
            <br>
            Except from buying a domain, you can also host your website. I haven't used it personally, so nothing much to add here.
          </li>
        </ul>
      </li>
    </ul>

    <p>That's it! Enjoy your website, have fun and feel proud :)</p>

    <p>As we said, these extra steps can be taught in an advance course of Code at Uni. The ones who filled in the survey could also show their interest to be contacted for an advance course. So stay tuned and enjoy programming!</p>
  </div>
</div>

{{outlet}}
