<html>
  <head>
    <title>My First CSS exercise</title>
    <link href="/webkit.css" rel="stylesheet">
    <style media="screen">
      .emphasize-title{
        color: red;
        font-size: 50px;
      }
      .winter{
        color: gray;
      }
      .summer{
        color:orange;
      }
    </style>
  </head>
  <body>
    <h3 class="emphasize-title">Τι κάνω όταν...</h3>

    <ul> ... χειμωνιάζει
      <li class="winter">Βλέπω παραπάνω ταινίες</li>
      <li class="winter">Πάω εκδρομές στα βουνά</li>
      <li class="winter">Κάνω τροχάδι!</li>
    </ul>
    <ul> ... καλοκαιριάζει
      <li class="summer">Πάω θάλασσα!</li>
      <li class="summer">Κάνω windsurfing</li>
    </ul>
  </body>
</html>
