<html>
  <head>
    <title>My First CSS exercise</title>
    <link href="/webkit.css" rel="stylesheet">
    <style media="screen">
    .bluecolor{
      color: blue;
    }

    .redcolor{
      color: red;
    }

    #welcome{
      color: green;
      font-size: 50px;
    }

    #tagline{
      color: orange;
      font-weight: bold;
    }
    </style>
  </head>
  <body>
    <h1 id="welcome">Welcome</h1>
    <h3 id="tagline">to Kings Landing</h3>

    <ul>
      <li class="bluecolor">One day - Asaf Avidan</li>
      <li class="bluecolor">Ringo - Joris Voorn</li>
      <li class="redcolor">Waves - Mr Probz</li>
    </ul>
  </body>
</html>
