<div class="app-container">
  {{site-header}}

  <div class="links">
    <h1>Χρήσιμες Σελίδες</h1>

    <h2>Εδώ μπορείτε να βρείτε όλες τις ιστοσελίδες που χρησιμοποιούμε κατά τη διάρκεια των εργαστηρίων.</h2>

    <ol>
      <h3>HTML</h3>
      <li>
        <a href="http://www.w3schools.com/html/html_form_input_types.asp">W3Schools Input Types</a>
      </li>
      <li>
        <a href="https://www.freecodecamp.org/news/html-cheat-sheet-html-elements-list-reference/"> Free Code Camp - HTML</a>
      </li>
      <li>
        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element"> Mozzila Developers - HTML</a>
      </li>
    </ol>
    <ol>
      <h3>CSS</h3>
      <li>
        <a href="https://www.w3schools.com/css/ ">W3Schools - CSS selectors</a>
      </li>
      <li>
        <a href="https://adam-marsden.co.uk/css-cheat-sheet"> CSS cheat sheet by Adam Marsden</a>
      </li>
      <li>
        <a href="https://www.freecodecamp.org/news/html-cheat-sheet-html-elements-list-reference/"> Free Code Camp - CSS</a>
      </li>

      <h3> Χρώματα και εικόνες</h3>
      <li>
        Αποχρώσεις χρωμάτων: 
        <a href="https://www.color-hex.com/"> https://www.color-hex.com/ </a>
        ή 
        <a href="http://paletton.com"> http://paletton.com/ </a>
      </li>
      <li> Εικόνες:
        <a href="https://unsplash.com/ "> https://unsplash.com/ </a>
      </li>
      <li> Gifs:
        <a href="http://cinemagraphs.com/"> http://cinemagraphs.com/ </a>
        ή
        <a href="https://giphy.com/ "> https://giphy.com/ </a>
      </li>

      <h3>Bootstrap</h3>
      <li><a href="https://getbootstrap.com/docs/3.4/css/#grid">Bootstrap θεωρεία</a></li>
      <li>
        Για να συνδέσετε το html αρχείο σας με το bootstrap css αρχείο, βάλτε αυτό το λινκ της boostrap μέσα στο head element του html αρχείου σας. <a href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css</a>

      </li>
      <li><a href="https://fontawesome.com/search/">Font Awesome</a></li>
      <li>
        Για να βάλετε emojis στη σελίδα σας, βάλτε αυτό το λινκ της σελίδας font-awesome στο html αρχείο σας <a href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css</a>
      </li>
      <li><a href="http://www.getbootstrap.com/components/#navbar">Bootstrap Navbar</a></li>
      
      
      
      <h3>Learn To Code - Αρχεία προσαρμοσμένα για τα εργαστήρια μας</h3>
      <li><a href="https://girls-in-steam.herokuapp.com/learn-to-code.css"> learn-to-code.css</a></li>
      <li><a href="https://girls-in-steam.herokuapp.com/learn-to-code.js">learn-to-code.js</a></li>
      <li><a href="https://girls-in-steam.herokuapp.com/fonts.zip">Fonts zip</a></li>
      <li><a href="https://girls-in-steam.herokuapp.com/pattern.png">Profile back pattern</a></li>
    </ol>
  </div>
</div>
