<div class="app-container">
  {{site-header}}

  <div class="links">
    <h1>Links</h1>

    <h2>Here, you can find the links to all the resources that are being used in the syllabus. In other words, the all famous "Links section"!</h2>

    <ol>
      <li><a href="http://www.w3schools.com/html/html_form_input_types.asp">W3Schools input types</a></li>
      <li><a href="http://www.getbootstrap.com">Bootstrap</a></li>
      <li><a href="http://www.getbootstrap.com/components/#navbar">Bootstrap Navbar</a></li>
      <li><a href="http://fontawesome.io/">Font Awesome</a></li>
      
      <li><a href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">Bootstrap 3.3.7</a></li>
      
      <li><a href="http://codeatuni.netlify.com/code-at-uni.css">code-at-uni.css</a> - http://codeatuni.netlify.com/code-at-uni.css</li>
      <li><a href="http://codeatuni.netlify.com/code-at-uni.js">code-at-uni.js</a> - http://codeatuni.netlify.com/code-at-uni.js</li>
      <li><a href="http://codeatuni.netlify.com/fonts.zip">Fonts zip</a> - http://codeatuni.netlify.com/fonts.zip</li>
      <li><a href="http://codeatuni.netlify.com/pattern.png">Profile back pattern</a></li>
    </ol>
  </div>
</div>
