<html>
  <head>
    <title>Τίτλος της ιστοσελίδας</title>
    <link href="/webkit.css" rel="stylesheet">
  </head>
  <body>
    <h2>Τίτλος της ιστοσελίδας μας</h2>
    <p>Καλοσορίσατε στην ιστοσελίδα μας. Εδώ μαθαίνουμε να γράφουμε κώδικα!</p>
    <img src="https://images.unsplash.com/photo-1509043759401-136742328bb3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=500&q=80" alt="">
    <ol> Οι δραστηριότητες μου
      <li>Windsurfing</li>
      <li>Ποδηλασία</li>
      <li>Βιβλία</li>
    </ol>
  </body>
</html>