<html>
  <head>
    <title>Your name</title>
    <link href="/bootstrap.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          sidebar information will be added here
        </div>
        <div class="col-md-9">
          main content will be added here
        </div>
      </div>
    </div>
  </body>
</html>
