<html>
  <head>
    <title>My First CSS exercise</title>
    <link href="/webkit.css" rel="stylesheet">
    <style media="screen">
    /* This is comment */
    li{
      color: blue;
    }

    h1,h3{
      color: red;
    }
    </style>
  </head>
  <body>
    <h1>Welcome</h1>
    <h3>to Kings Landing</h3>

    <ul>
      <li>One day - Asaf Avidan</li>
      <li>Ringo - Joris Voorn</li>
      <li>Waves - Mr Probz</li>
    </ul>
  </body>
</html>
