<html>
  <head>
    <title>My favorite youtube videos</title>
    <link href="/webkit.css" rel="stylesheet">
  </head>
  <body>
    
    <h2>The Heading of our website</h2>
    
    <p>Welcome to our website. Here, we're learning how to write code!</p>
    <img src="https://images.unsplash.com/photo-1509043759401-136742328bb3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=500&q=80" alt="">
    <ol> My activities
      <li>Windsurfing</li>
      <li>Cycling</li>
      <li>Reading</li>
    </ol>
    
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/z-gcqNKMK-E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <p>
      <a href="https://www.youtube.com/watch?v=z-gcqNKMK-E" target="_blank">Open video on youtube</a>
    </p>
    <br>
    
    <iframe src="https://giphy.com/embed/eCOZ9tuKeLS2BPIvv4" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/evening-have-a-nice-nekosan-eCOZ9tuKeLS2BPIvv4"></a></p>
  
  </body>
</html>
