<html>
  <head>
    <meta charset="utf-8">
    <title>Javascript exercise 1</title>
    <link href="/webkit.css" rel="stylesheet">
  </head>
  <body>
    <h1 style="text-align:center;">Έρχεται σύντομα!</h1>
    <h2 style="text-align:center;">Για δήλωση ενδιαφέροντος, επικοινωνήστε με τη Μαρία Στυλιανού στο marsty5@gmail.com</h2>
  </body>
</html>
Footer
