<html>
  <head>
    <meta charset="utf-8">
    <title>Javascript exercise 1</title>
    <link href="/webkit.css" rel="stylesheet">
  </head>
  <body>
  	<br>
    <h1 style="text-align:center;">The workshop to learn <br> Javascript <br>
   is coming soon!</h1>
    <br> 
    <h2 style="text-align:center;">If you're interested to hear more <br> contact Maria Stylianou <br> at marsty5@gmail.com </h2>
  </body>
</html>

