<html>
  <head>
    <meta charset="utf-8">
    <title>Javascript exercise 1</title>
    <link href="/webkit.css" rel="stylesheet">
  </head>
  <body>
  	<br>
    <h1 style="text-align:center;">Το εργαστήριο για εκμάθηση <br> της γλώσσας προγραμματισμού Javascript <br>
   έρχεται σύντομα!</h1>
    <br> 
    <h2 style="text-align:center;">Για δήλωση ενδιαφέροντος <br> επικοινωνήστε με τη Μαρία Στυλιανού <br> στο marsty5@gmail.com</h2>
  </body>
</html>

