<html>
  <head>
    <title>Bootstrap</title>
    <link href="/bootstrap.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          This is meant to be a menu
        </div>
        <div class="col-xs-10">
          What does all of this mean? Well, the grid system is used for creating page layouts through a series of rows and columns that house our content. The width of a page is measured with 12 columns. If we'd like to have 3 columns as the example above, then we use a column selection of 4-4-4. For two columns we can use a selection of 6-6 or 4-8.
        </div>
      </div>
    </div>
  </body>
</html>
