<html>
  <head>
    <title>Η ιστοσελίδα μου</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          Εδώ θα σχεδιάσουμε την αριστερή πλευρά της σελίδας μας
        </div>
        <div class="col-md-8">
          Εδώ θα σχεδιάσουμε τη δεξιά πλευρά της σελίδας μας
        </div>
      </div>
    </div>
  </body>
</html>
